<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param><!-- 整个项目的全局变量 相当于设置了一个固定值 -->
    <param-name>contextConfigLocation</param-name><!-- 相当于参数名-->
    <param-value>classpath:applicationContext.xml</param-value><!---->
  </context-param>
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <!--配置DispatcherServlet-->
  <servlet>
    <servlet-name>spring-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!--前置控制器，用于拦截匹配的请求
                                                                                        依据相应规则分发到目标Controller
                                                                                        -->
    <!--配置SpringMVC需要加载的配置文件spring-mvc.xml-->
    <init-param><!--整个项目的局部变量，相当于设置了一个固定值-->
      <param-name>contextConfigLocation</param-name><!--参数名-->
      <param-value>classpath:spring-mvc.xml</param-value><!--参数值-->
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-dispatcher</servlet-name>
    <!--默认匹配所有的请求-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>


